.items_list
{
    margin-bottom: 10px;
    padding: 10px;
    border-bottom: 1px dashed;
}

.list_item
{
    font-style: italic;
}

.list_item.active
{
    text-decoration: underline;
}